/* finally change the font */
@font-face {
    font-family: "TitilliumWeb-Regular";
    src: url(../webfonts/TitilliumWeb-SemiBold.ttf);
}

body {
    background-color: #24353F;
}

h1 {
    color: #17a2b8;
    font-family: "TitilliumWeb-Regular";
    font-size: 2.5rem;
    font-weight: 500;
}

input {
    background-color: inherit;
    border-radius: 4px;
    border: 1px solid white;
    width: 100%;
}

.costum-container {
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.7);
}

:root,
[data-bs-theme=light] {
    --bs-body-bg: #24353F;
    --bs-body-color: #ffffff;
}


.form-control:focus {
    box-shadow: 0 0 0 0 rgba(13, 110, 253, .25);
}

#InputEmail1::placeholder {
    color: #ced4da;
}

#InputPassword::placeholder {
    color: #ced4da;
}


#InputName::placeholder {
    color: #ced4da;
}

#SignupInputName::placeholder {
    color: #ced4da;
}

#SignupInputEmail1::placeholder {
    color: #ced4da;
}

#SignupInputPassword::placeholder {
    color: #ced4da;
}

.border-test {
    border: 2px solid red;
}

.btn-info {
    --bs-btn-bg: inherit;
    --bs-btn-color: #17A2B8;
}

.margin-buttom {
    margin-bottom: 2.2rem;
}

.btn:hover {
    color: white;
    background-color: #17a2b8;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.custom-w-85 {
    width: 85%;
}



.bg-body-tertiary {
--bs-tertiary-bg-rgb:36, 53, 63;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.7);

}






.btn-outline-success {
    --bs-btn-color: #17a2b8;
    --bs-btn-border-color: #17a2b8;
}








/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  color: #f03355;
  --_c:no-repeat radial-gradient(farthest-side,currentColor 92%,#0000);
  background: 
    var(--_c) 50% 0   /12px 12px,
    var(--_c) 50% 100%/12px 12px,
    var(--_c) 100% 50%/12px 12px,
    var(--_c) 0    50%/12px 12px,
    var(--_c) 50%  50%/12px 12px,
    conic-gradient(from 90deg at 4px 4px,#0000 90deg,currentColor 0)
    -4px -4px/calc(50% + 2px) calc(50% + 2px);
  animation: l8 1s infinite linear;
}
@keyframes l8 {to{transform: rotate(.5turn)}}










/* 
@media print {
  @page {
    size: 58mm auto; 
    margin: 0;
  }

  body * {
    visibility: hidden;
  }

  #printArea, #printArea * {
    visibility: visible;
  }

  #get {
    display: none !important;
  }

  #btn-print {
    display: none !important;
  }

  #printArea {
    position: absolute;
    left: 0;
    top: 0;
    width: 58mm;
  }


} */



@media print {
  @page {
    size: 58mm auto;
    margin: 0;
  }

  body * {
    visibility: hidden;
  }

  #printArea, #printArea * {
    visibility: visible;
  }

  #get,
  #btn-print {
    display: none !important;
  }

  #printArea {
    position: absolute;
    left: 0;
    top: 0;
    width: 58mm;

    /* ✅ الجزء المهم هنا */
    max-height: 160mm; /* أو أي ارتفاع يناسب صفحة واحدة فقط */
    overflow: hidden;
  }

  /* إيقاف التكرار أو التمدد */
  html, body {
    height: auto;
    overflow: hidden;
  }
}



.form-control::placeholder{
  color: white;
}


#welcomeUser{
  width: fit-content;
}

h2{
  margin: 0;
}


/* ============= */
/* search */



#ssearch{
    input, button {
      padding: 8px;
      margin: 8px 0;
      width: 100%;
    }
    #result-new {
      margin-top: 15px;
      font-weight: bold;
    }
}
